ul.side-nav.fixed
	li
		.userView
			.background
				img(src="http://lorempixel.com/400/200/abstract/7")
			a(href="#!user") 
				img.circle(src="http://lorempixel.com/65/65/people/9")
			a(href="")
				span.white-text.name Ole Erling
			a(href="")
				span.white-text.email ole@erling.dk
	li.search
		.search-wrapper.card
			input#search
			i.material-icons search
	li
		a(href="/dash").waves-effect.waves-teal #{__('Dash')}
	li
		a(href="/dash/pages").waves-effect.waves-teal #{__('Pages')}
	li
		a(href="#").waves-effect.waves-teal #{__('Users')}
	li
		a(href="#").waves-effect.waves-teal #{__('Settings')}
		ul
			li
				a(href="") #{__('Site Setup')}
			li
				a(href="") #{__('Navigation')}